@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;700&display=swap");

* {
  font-family: "Outfit", "sans-serif";
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  max-width: 17rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
img{
    width: 100%;
    border-radius: 1rem;
    max-width: 18rem;
    max-height: 18rem;
}
h1{
    font-weight: 700;
    text-align: center;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 10px;
}
p{
    font-weight: 400;
    color:hsl(220, 15%, 55%);
    text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
